.header {
    height: 60px;
    overflow: hidden;
}

.logo {
    float: left;
}

.courseTitleWrap {
    float: left;
    width: 630px;
    height: 60px;
}

.courseTitleSubWrap {
    display: table;
    height: auto;
    width: 100%;
}

.courseTitle {
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    font-size: 20px;
    color: #46494b;
    text-align: center;
}

.langBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 11px;
    right: 134px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -216px 0px;
    position: absolute;
}

.langBtn:hover {
    background-position: -252px 0px;
}

.langBtnDisabled {
    height: 36px;
    width: 36px;
    display: block;
    top: 11px;
    right: 134px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -288px 0px;
    position: absolute;
    cursor: default;
}

.exitBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 11px;
    right: 17px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -108px 0px;
    position: absolute;
}

.exitBtn:hover {
    background-position: -144px 0px;
}

.exitBtnDisabled {
    height: 36px;
    width: 36px;
    display: block;
    top: 11px;
    right: 17px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -180px 0px;
    position: absolute;
    cursor: default;
}

.helpBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 11px;
    right: 75px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    position: absolute;
}

.helpBtn:hover {
    background-position: -36px 0px;
}

.helpBtnDisabled {
    height: 36px;
    width: 36px;
    display: block;
    top: 11px;
    right: 75px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -72px 0px;
    position: absolute;
    cursor: default;
}

.lessonTitleWrap {
    clear: both;
    margin: 18px 30px 0px 35px;
}

.lessonTitleSubWrap {

    height: 30px;
    padding-left: 18px;
    padding-right: 10px;
}

.lessonTitle {

    vertical-align: middle;
    height: 100%;
    margin: 0px;
    font-size: 16px;
    color: #666666;
}

.helpWrap {
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.help_bg {
    width: 945px;
    height: 519px;
    top: 72px;
    position: absolute;
    left: 35px;
    border-radius: 10px;
}

.helpCloseBtn {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    padding: 3px 10px;
    position: absolute;
    left: 34px;
    top: 72px;
    z-index: 5;
    background-color: #2576AE;
    text-decoration: none;
    border-top-left-radius: 10px;
}

.helpCloseBtn:hover {
    background-color: #01578F;
}