.footer {
    height: 70px;
    width: 705px;
    position: absolute;
    left: 150px;
    top: 600px;
}

.menuBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 648px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -864px 0px;
    position: absolute;
}

.menuBtn:hover {
    background-position: -900px 0px;
}

.menuOnBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 648px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -900px 0px;
    position: absolute;
}

.menuOnBtn:hover {
    background-position: -900px 0px;
}

.menuBtnDisabled {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 648px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -936px 0px;
    position: absolute;
    cursor: default;
}

.transcriptBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 575px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -756px 0px;
    position: absolute;
}

.transcriptBtn:hover {
    background-position: -792px 0px;
}

.transcriptOffBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 575px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -792px 0px;
    position: absolute;
}

.transcriptOffBtn:hover {
    background-position: -792px 0px;
}

.transcriptBtnDisabled {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 575px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -828px 0px;
    position: absolute;
    cursor: default;
}

.audioBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 502px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -324px 0px;
    position: absolute;
}

.audioBtn:hover {
    background-position: -360px 0px;
}

.audioBtnDisabled {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 502px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -396px 0px;
    position: absolute;
    cursor: default;
}

.audioOffBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 502px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -324px -36px;
    position: absolute;
}

.audioOffBtn:hover {
    background-position: -360px -36px;
}

.audioOffBtnDisabled {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 502px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -396px -36px;
    position: absolute;
    cursor: default;
}

.volumeSlider {
    position: absolute;
    bottom: 58px;
    left: 130px;
    height: 10px;
    width: 112px;
    display: none;
}

.replayBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 429px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -432px 0px;
    position: absolute;
}

.replayBtn:hover {
    background-position: -468px 0px;
}

.replayBtnDisabled {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 429px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -504px 0px;
    position: absolute;
    cursor: default;
}

.pauseBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 357px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -432px -36px;
    position: absolute;
}

.pauseBtn:hover {
    background-position: -468px -36px;
}

.pauseBtnDisabled {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 357px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -504px -36px;
    position: absolute;
    cursor: default;
}

.playBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 357px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -432px -72px;
    position: absolute;
}

.playBtn:hover {
    background-position: -468px -72px;
}

.playBtnDisabled {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 357px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -504px -72px;
    position: absolute;
    cursor: default;
}

.backBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 164px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -648px 0px;
    position: absolute;
}

.backBtn:hover {
    background-position: -684px 0px;
}

.backBtnDisabled {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 164px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -720px 0px;
    position: absolute;
    cursor: default;
}

.pagecounter {
    display: table;
    color: #383737;
    font-size: 16px;
    height: 44px;
    width: 100px;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 63px;
}

.currentPageNum {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.nextBtn {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 28px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -540px 0px;
    position: absolute;
}

.nextBtn:hover {
    background-position: -576px 0px;
}

.nextBtnDisabled {
    height: 36px;
    width: 36px;
    display: block;
    top: 19px;
    right: 28px;
    overflow: hidden;
    background-image: url(/images/navigation.png);
    background-repeat: no-repeat;
    background-position: -612px 0px;
    position: absolute;
    cursor: default;
}